<launch>
  <!-- joy node 开启手柄驱动-->
  <node respawn="true" pkg="joy" type="joy_node" name="turtle_joy" output = "screen">        
   <param name="dev" type="string" value="/dev/input/js0" />
   <param name="deadzone" value="0.12" />
  </node>

  <node pkg="control" type="joystick" name="joystick" output="screen">
  </node>
  <node pkg="control" type="motor_control" name="motor_control" output="screen">
  </node>

  <arg name="node_name"             value="velocity_smoother"/>
	  <arg name="nodelet_manager_name"  value="nodelet_manager"/>
	  <arg name="config_file"           value="$(find control)/param/speed_smooth.yaml"/>
	  <arg name="raw_cmd_vel_topic"     value="cmd_vel"/>
	  <arg name="smooth_cmd_vel_topic"  value="smooth_cmd_vel"/>
	  <arg name="robot_cmd_vel_topic"   value="robot_cmd_vel"/>
	  
	  
	  <!-- nodelet manager -->
	  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>
	  
	  <!-- velocity smoother -->
	  <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
	    <arg name="node_name"             value="$(arg node_name)"/>
	    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
	    <arg name="config_file"           value="$(arg config_file)"/>
	    <arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
	    <arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
	    <arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
	  </include>         
  
</launch>
